body {
  font-family: 'Helvetica Neue', Helvetica, Arial, Sans-serif;
}

#cnzz_stat_icon_1254026096 {
  display: none;
}

.collapsed-navigation .btn, .elements .btn, .animations .btn {
  margin-bottom: 5px;
}

.homepage #wrapper {
  background-position: center 0;
}

body.boxed #contact-us {
  border-color: #9ca4af;
  color: #676f7a;
  background-color: #eaedf2;
}

#contact-us {
  cursor: pointer;
  display: block;
  right: 10px;
  border: 2px solid #eaedf2;
  color: #8dc153;
  line-height: 35px;
  text-align: center;
  position: fixed;
  right: 10px;
  bottom: 62px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 95px;
  height: 40px;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 1002;
}

#contact_form textarea {
  min-height: 150px;
}

.navbar-right {
  margin-top: 30px;
}

#header .navbar-default.navbar-collapsed-sm .navbar-nav > li > a span:hover {
  color: #8dc153 !important;
}

#header .navbar-default.navbar-collapsed-sm .navbar-nav > li > a span {
  height: 30px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .homepage .panel-circle-big-contrast .panel-body {
    height: 286px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .homepage .panel-image .panel-body {
    height: 238px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .homepage .panel-image .panel-big {
    height: 258px;
  }
}

p.home-desc {
  text-indent: 2em;
  text-align: left;
}

a[href="javascript:;"] {
  cursor: default;
}

.service-page .panel-desc, .aboutus-page .panel-desc {
  text-indent: 2em;
  text-align: left;
}

.service-page .show-detail {
  float: right;
  cursor: pointer;
}

.service-page table {
  font-size: 12px;
}

.use-welcome #contact-us {
  display: none;
}

.welcome-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("http://i2.tietuku.com/0ac3252e34c39073.jpg") no-repeat top center;
  /*background: url("../images/shanghai_o.jpg") no-repeat top center;*/
  -webkit-background-size: cover;
  background-size: cover;
  z-index: 1001;
}

.navbar-brand {
  float: left !important;
}

.navbar-brand img {
  margin-right: -20px;
}

.aboutus-page .panel-desc {
  margin-bottom: 20px !important;
}

.aboutus-page .panel.panel-circle-contrast .panel-body {
  padding: 29px;
}

.aboutus-page .panel-body {
  height: 300px;
}

#footer .icon-box {
  clear: both;
  margin-bottom: -5px;
}

#wrapper {
  background: url("../images/demo/bg_wrapper.jpg") center -130px;
}

#header {
  background-color: #fff;
}

@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  #wrapper {
    background-image: url("../images/demo/bg_wrapper@2x.jpg");
    background-size: 1920px 535px;
  }
}

body.error-page, body.countdown-page {
}

.client-slideshow {
  min-height: 40px;
}

.error-page .return-home {
  color: #222;
  border-color: #222;
}

.contact-page #main-content {
  padding-top: 0;
  margin-top: -20px;
}

.hero-carousel .slides .item {
  background-color: #fff;
  background-repeat: no-repeat;
}

.hero-carousel .the1 {
  background: url("http://i2.tietuku.com/84c688ab8122a4ce.png") center 100px;
  /*background: url("../images/1_tiny_.png") center 100px;*/
}

.hero-carousel .the2 {
  background: url("http://i2.tietuku.com/599d670dcd815830.png") center 100px;
  /*background: url("../images/2_tiny_.png") center 100px;*/
}

.hero-carousel .the3 {
  background: url("http://i2.tietuku.com/f1634604bbb49464.jpg") center 100px;
  /*background: url("../images/3_tiny_.png") center 100px;*/
}

.hero-carousel .the4 {
  background: url("http://i2.tietuku.com/ece87ea7dff88d0f.png") center 100px;
  /*background: url("../images/4_tiny_.jpg") center 100px;*/
}

.hero-carousel .the5 {
  background: url("http://i2.tietuku.com/a406d9bd14a345ab.jpg") center 100px;
  /*background: url("../images/3_tiny_.png") center 100px;*/
}

#header .navbar-default.navbar-collapsed-sm .navbar-nav > li > a span {
  color: #434955 !important;
  text-shadow: none;
}

.share-page .portfolio-boxes .portfolio-box .category {
  text-align: left;
  overflow: visible;
  white-space: normal;
}

.homepage #header,
.homepage #wrapper,
.homepage #footer {
  display: none;
}

.homepage.use-direct #header,
.homepage.use-direct #wrapper,
.homepage.use-direct #footer {
  display: block;
}

.homepage .cover-container {
  width: 800px;
  margin: 0 auto;
}

.homepage .welcome-title {
  float: left;
  margin-top: 10px;
}

.homepage .welcome-title .logo {
  margin-left: -25px;
}

.homepage .welcome-enter button {
  padding: 2px 12px;
}

.homepage .welcome-enter {
  float: right;
  text-align: right;
  position: relative;
  top: 40px;
  right: 110px;
}

.homepage .welcome-enter a {
  font-size: 16px;
}

.homepage .col-lg-12.animate span {
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Microsoft YaHei', sans-serif;
}

.homepage.fullsize #wrapper {
  background-image: none;
}

.footer-record {
  padding-left: 20px;
}

.homepage .slides {
  /*margin-top: -9px;*/
}

.aboutus-page .panel-title {
  margin-top: 15px !important;
}

.BMapLabel {
  max-width: 500px;
}

.iw_poi_title {
  color: #c52;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  padding-right: 13px;
  white-space: nowrap
}

.iw_poi_content {
  font: 12px arial, sans-serif;
  overflow: visible;
  padding-top: 4px;
  white-space: -moz-pre-wrap;
  word-wrap: break-word
}

.show-more {
  text-align: center;
  margin: 20px 0;
}

@media (max-width: 767px) and (orientation: portrait) {
  .homepage .cover-container {
    width: 300px;
  }

  .homepage .welcome-enter {
    right: 10px;
  }

  .homepage.fullsize #wrapper {
    margin-top: 80px;
  }

  #header .navbar-default.navbar-collapsed-sm .navbar-collapse {

  }

  .navbar-brand img {

  }
}