<body class="error-page fullsize">
  <div id="wrapper" style="height: auto;">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="code fadeInDown animated">
            <span>4</span>
            <span class="fa fa-question-circle"></span>
            <span>4</span>
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p class="message fadeInLeft animated">
            抱歉，你要找的页面不存在
            <!--Sorry, the page you are looking for doesn’t exist.-->
            <br>
            <!--Take a run around the block or tap the button below.-->
          </p>
          <a class="btn btn-bordered btn-white btn-lg fadeInRight animated return-home" href="/">回到首页</a>
        </div>
      </div>
    </div>
  </div>
</body>