<body class="error-page">
  <div id="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="code fadeInDown animated">
            <span>5</span>
            <span class="fa fa-exclamation-circle"></span>
            <span>0</span>
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p class="message fadeInLeft animated">
            Ooops! Something went wrong.
            <br>
            But don"t worry - we"ll fix that soon.
          </p>
          <a class="btn btn-bordered btn-white btn-lg fadeInRight animated return-home" href="index.ejs">回到首页</a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <a href="/index">
            <img class="logo fadeInUp animated" alt="yohub-logo" src="/assets/images/logo_120.png">
          </a>
        </div>
      </div>
    </div>
  </div>
</body>