<body class="aboutus-page">
  <div id="wrapper">
    <div id="main" role="main">
      <div id="main-content">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="row panels">
                <div class="col-sm-6 panel-item">
                  <a class="panel panel-circle-contrast" href="javascript:;">
                    <div class="panel-icon">
                      <i class="fa fa-thumbs-up icon"></i>
                    </div>
                    <div class="panel-body text-center">
                      <h3 class="panel-title">诚邀风险管理实干家</h3>
                      <p class="panel-desc">我们欢迎有智商、有情商、有经验的风险管理实干家同我们加盟合作， 共同构建一个专业、高效的风险管理和咨询机构。</p>
                      <p class="panel-desc">目前我们的运作模式以顾问合作为主，并不提供全职工作机会。如果您在某一行业有超过30年的工作经验，对风险管理有独特的见解和认识，又或者您在保险公司、再保险公司专职从事风险管理工程师超过15年，有时间有精力为其他企业提供风险管理支持却苦于没有接触的窗口，请及时同我们取得联系。我们珍惜您的丰富经验，也会尽全力让您的经验帮助到更多的人。</p>
                    </div>
                  </a>
                </div>
                <div class="col-sm-6 panel-item">
                  <a class="panel panel-circle-contrast" href="javascript:;">
                    <div class="panel-icon">
                      <i class="fa fa-university icon"></i>
                    </div>
                    <div class="panel-body text-center">
                      <h3 class="panel-title">欢迎海外机构、IT企业资源共享</h3>
                      <p class="panel-desc">中国正大步迈向国际化，中国企业不断走出去，外资企业也纷纷走进来，御虎咨询愿意同海外机构优势互补，共享智库和业务资源，形成战略联盟。</p>
                      <p class="panel-desc">我们也对风险管理的大数据时代充满期待，愿意同目标远大的IT企业共商合作大计，进行跨行业、跨板块的纵向和横向整合。</p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="page-header page-header-with-icon">
                <i class="fa fa-group"></i>
                <h2>
                  我司专家团队
                </h2>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                      <tr>
                        <th>
                          <i class="fa fa-th text-contrast"></i>
                          级别/界别
                        </th>
                        <th width="28%">
                          <i class="fa fa-medkit text-contrast"></i>
                          保险界
                        </th>
                        <th width="28%">
                          <i class="fa fa-flag text-contrast"></i>
                          专业风险工程师
                        </th>
                        <th width="28%">
                          <i class="fa fa-user-md text-contrast"></i>
                          各行业专家
                        </th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr class="  ">
                        <td>特级顾问</td>
                        <td>国内外具备极其丰富实践经验和专业影响力的保险公司核心部门离退休人士</td>
                        <td>国内外曾任保险公司专业风险工程师超过15年的人士</td>
                        <td>国内外具备极其丰富实践经验和影响力的在职或离退休人士</td>
                      </tr>
                      <tr class="  ">
                        <td>高级顾问</td>
                        <td>不适用</td>
                        <td>中国注册安全工程师资格并有10年以上工作经验的人士</td>
                        <td>有相当丰富实践经验的各行业高级职称人士</td>
                      </tr>
                      <tr class="  ">
                        <td>风险工程师</td>
                        <td>不适用</td>
                        <td>中国注册安全工程师资格并有3年以上工作经验的人士</td>
                        <td>不适用</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>