<body class="aboutus-page">
  <div id="wrapper">
    <div id="main" role="main">
      <div id="main-content">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="row panels">
                <div class="col-sm-6 panel-item">
                  <a class="panel panel-circle-contrast" href="javascript:;">
                    <div class="panel-icon">
                      <i class="fa fa-thumbs-up icon"></i>
                    </div>
                    <div class="panel-body text-center">
                      <h3 class="panel-title">Welcome to Join us</h3>
                      <p class="panel-desc">Welcome to join us, if you are enact ion, experienced, talented and really interested in what we are doing. Wish we can work together to build a professional and high efficient risk management and consulting service center. </p>
                      <p class="panel-desc">Co-operate is our priority operation mode, unfortunately, we cannot offer full-time position right now. If you are the one who has worked in a particular industry over 30 years, who has a unique insights and understanding to the risk management, or who has engaged in risk management in insurance company or reinsurance company over 15 years, or who has time and willingness to provide risk management support for enterprises but struggling with no way to get, please do not hesitate to contact with us. We would pretty cherish you, and are willing to bring more benefit to more people via your effort and great experience.</p>
                    </div>
                  </a>
                </div>
                <div class="col-sm-6 panel-item">
                  <a class="panel panel-circle-contrast" href="javascript:;">
                    <div class="panel-icon">
                      <i class="fa fa-university icon"></i>
                    </div>
                    <div class="panel-body text-center">
                      <h3 class="panel-title">Resource Share</h3>
                      <p class="panel-desc">Since China opened the door, Chinese enterprises star seeking international partners; meanwhile more foreign companies come to China. We, Yohub, located in shanghai, the most modern city of China, are looking forward to the world. We would like to work together with domestic or oversea institutions, hope that we can complement advantages, share think-tank and business resources, and form a long-term strategic alliance.</p>
                      <p class="panel-desc">Yohub have full expectation for the performance of risk management in the age of big data. We wish to cooperate with ambitious IT companies, to achieve cross-industry integration. </p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="page-header page-header-with-icon">
                <i class="fa fa-group"></i>
                <h2>
                  Our Consultants Team
                </h2>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                      <tr>
                        <th>
                          <i class="fa fa-th text-contrast"></i>
                          Expert Level/Type of Expertise
                        </th>
                        <th width="28%">
                          <i class="fa fa-medkit text-contrast"></i>
                          Insurance
                        </th>
                        <th width="28%">
                          <i class="fa fa-flag text-contrast"></i>
                          Risk Management
                        </th>
                        <th width="28%">
                          <i class="fa fa-user-md text-contrast"></i>
                          Industry Know-how
                        </th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr class="  ">
                        <td>Senior Consultant & Senior Risk Engineers</td>
                        <td>Insurance experts with rich theoretical and practical experience; may have retired but use to work in core department of insurance company.</td>
                        <td>Professional risk engineers with over 15-years RM experience in insurance industry or other industries.</td>
                        <td>Industry experts with rich theoretical and practical experience, may be in service or have retired.</td>
                      </tr>
                      <tr class="  ">
                        <td>Consultant & Risk Engineer</td>
                        <td>N/A</td>
                        <td>China Certified Safety Engineer; more than 10-years work experience.</td>
                        <td>Industry professionals with recognized practical experience.</td>
                      </tr>
                      <tr class="  ">
                        <td>Assistant Consultant & Assistant Risk Engineer</td>
                        <td>N/A</td>
                        <td>China Certified Safety Engineer; more than 3-years work experience.</td>
                        <td>N/A</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>