<body class="">
  <div id="wrapper">
    <div id="main" role="main">
      <div id="main-content-header">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h1 class="title">
                Blog (Small image)
              </h1>
              <ol class="breadcrumb">
                <li>
                  <a href="http://jednotka.bublinastudio.com/index.html">
                    <i class="fa fa-home"></i>
                  </a>
                </li>
                <li class="active">Blog</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div id="main-content">
        <div class="container">
          <div class="row">
            <div class="col-md-push-9 col-sm-push-8 col-sm-4 col-md-3">
              <nav class="sidebar">
                <button class="btn btn-block btn-contrast sidebar-toggle" data-target=".sidebar-collapse" data-toggle="collapse" type="button">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <div class="sidebar-collapse collapse">
                  <div class="box">
                    <h3 class="title">Search in blog</h3>
                    <form action="http://jednotka.bublinastudio.com/blog_large.html" method="get">
                      <div class="input-group">
                        <input class="form-control" placeholder="Search..." type="text">
                        <span class="input-group-btn">
                          <button class="btn btn-contrast" type="button">
                            <i class="fa fa-search"></i>
                          </button>
                        </span>
                      </div>
                    </form>
                  </div>
                  <div class="box">
                    <h3 class="title">Categories</h3>
                    <div class="list-group">
                        <a class="list-group-item" href="http://jednotka.bublinastudio.com/blog_small.html#"><i class="fa fa-angle-right fa fa-fixed-width"></i>
                      Quisque et fringilla
                      </a>

                        <a class="list-group-item active" href="http://jednotka.bublinastudio.com/blog_small.html#"><i class="fa fa-angle-right fa fa-fixed-width"></i>
                      Etiam bibendum
                      </a>

                        <a class="list-group-item" href="http://jednotka.bublinastudio.com/blog_small.html#"><i class="fa fa-angle-right fa fa-fixed-width"></i>
                      Vestibulum
                      </a>

                        <a class="list-group-item" href="http://jednotka.bublinastudio.com/blog_small.html#"><i class="fa fa-angle-right fa fa-fixed-width"></i>
                      Mauris gravida
                      </a>

                        <a class="list-group-item" href="http://jednotka.bublinastudio.com/blog_small.html#"><i class="fa fa-angle-right fa fa-fixed-width"></i>
                      Magna dui
                      </a>

                        <a class="list-group-item" href="http://jednotka.bublinastudio.com/blog_small.html#"><i class="fa fa-angle-right fa fa-fixed-width"></i>
                      Adipiscing elementum
                      </a>

                    </div>
                  </div>
                  <div class="box">
                    <h3 class="title">Photostream</h3>
                    <ul class="list-unstyled list-inline image-list-box">
                      <li>
                        <a href="http://jednotka.bublinastudio.com/blog_small.html#">
                          <img alt="Jednotka" width="50" height="50" src="./blog_files/1.jpg">
                        </a>
                      </li>
                      <li>
                        <a href="http://jednotka.bublinastudio.com/blog_small.html#">
                          <img alt="Jednotka" width="50" height="50" src="./blog_files/2.jpg">
                        </a>
                      </li>
                      <li>
                        <a href="http://jednotka.bublinastudio.com/blog_small.html#">
                          <img alt="Jednotka" width="50" height="50" src="./blog_files/3.jpg">
                        </a>
                      </li>
                      <li>
                        <a href="http://jednotka.bublinastudio.com/blog_small.html#">
                          <img alt="Jednotka" width="50" height="50" src="./blog_files/4.jpg">
                        </a>
                      </li>
                      <li>
                        <a href="http://jednotka.bublinastudio.com/blog_small.html#">
                          <img alt="Jednotka" width="50" height="50" src="./blog_files/5.jpg">
                        </a>
                      </li>
                      <li>
                        <a href="http://jednotka.bublinastudio.com/blog_small.html#">
                          <img alt="Jednotka" width="50" height="50" src="./blog_files/6.jpg">
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="box social-box">
                    <h3 class="title">Latest tweets</h3>
                    <div class="icon-boxes icon-boxes-nowrap">
                      <div class="icon-box">
                        <div class="icon icon-wrap">
                          <i class="fa fa-twitter text-contrast"></i>
                        </div>
                        <div class="content">
                          <p>
                            Phasellus vulputate lobortis sem. Mauris id velit in urna.
                            <br>
                            <a class="time" href="http://jednotka.bublinastudio.com/blog_small.html#">
                              <i>1 hour ago</i>
                            </a>
                          </p>
                        </div>
                      </div>
                      <div class="icon-box">
                        <div class="icon icon-wrap">
                          <i class="fa fa-twitter text-contrast"></i>
                        </div>
                        <div class="content">
                          <p>
                            Etiam luctus, dui congue tempus blandit, dui.
                            <br>
                            <a class="time" href="http://jednotka.bublinastudio.com/blog_small.html#">
                              <i>3 hours ago</i>
                            </a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </nav>
            </div>
            <div class="col-md-pull-3 col-sm-pull-4 col-sm-8 col-md-9">
              <div class="text-boxes">
                <div class="row text-box text-box-title-above">
                  <div class="col-sm-12">
                    <h2 class="title"><a href="http://jednotka.bublinastudio.com/blog_single_post.html">Cras tempus ligula a tempor adipiscing</a></h2>
                    <div class="toolbar">
                      <a class="btn btn-link" href="http://jednotka.bublinastudio.com/blog_small.html#">
                        <i class="fa fa-calendar"></i>
                        <span>April 14, 2013</span>
                      </a>
                      <a class="btn btn-link" href="http://jednotka.bublinastudio.com/blog_small.html#">
                        <i class="fa fa-user"></i>
                        <span>John Doe</span>
                      </a>
                      <a class="btn btn-link" href="http://jednotka.bublinastudio.com/blog_small.html#">
                        <i class="fa fa-comments"></i>
                        <span>13 comments</span>
                      </a>
                    </div>
                    <div class="row">
                      <div class="col-sm-3">
                        <a href="http://jednotka.bublinastudio.com/blog_single_post.html">
                          <img class="img-responsive center-block img-rounded-half" alt="Cras tempus ligula a tempor adipiscing" width="189" height="129" src="./blog_files/1(1).jpg">
                        </a>
                      </div>
                      <div class="col-sm-9">
                        <p>Aliquam erat volutpat. Duis viverra at erat ut semper. In purus nisl, luctus sed eleifend at, pellentesque ut dolor. Nunc sodales nisi sed ullamcorper pellentesque. Etiam posuere nulla eu lectus porta ullamcorper. Aenean sit amet lectus eget augue euismod ultricies eu nec risus. Vivamus hendrerit nisi commodo.</p>
                        <a class="btn btn-contrast btn-bordered btn-xs" href="http://jednotka.bublinastudio.com/blog_single_post.html">Read more</a>
                      </div>
                    </div>
                    <hr class="hr-half">
                  </div>
                </div>
                <div class="row text-box text-box-title-above">
                  <div class="col-sm-12">
                    <h2 class="title"><a href="http://jednotka.bublinastudio.com/blog_single_post.html">Phasellus rutrum augue nec</a></h2>
                    <div class="toolbar">
                      <a class="btn btn-link" href="http://jednotka.bublinastudio.com/blog_small.html#">
                        <i class="fa fa-calendar"></i>
                        <span>April 13, 2013</span>
                      </a>
                      <a class="btn btn-link" href="http://jednotka.bublinastudio.com/blog_small.html#">
                        <i class="fa fa-user"></i>
                        <span>Jane Doe</span>
                      </a>
                      <a class="btn btn-link" href="http://jednotka.bublinastudio.com/blog_small.html#">
                        <i class="fa fa-comments"></i>
                        <span>24 comments</span>
                      </a>
                    </div>
                    <div class="row">
                      <div class="col-sm-3">
                        <a href="http://jednotka.bublinastudio.com/blog_single_post.html">
                          <img class="img-responsive center-block img-rounded-half" alt="Phasellus rutrum augue nec" width="189" height="129" src="./blog_files/2(1).jpg">
                        </a>
                      </div>
                      <div class="col-sm-9">
                        <p>Praesent sed viverra lacus. Aliquam congue porttitor ipsum sed vulputate. Nam lacus nunc, malesuatda a massa sed, commodo placerat sem. Fusce rutrum bibendum adipiscing. Donec ac justo et metus vulputate faucibus. Mauris quis massa vel urna gravida. Nunc cursus urna ac molestie cursus. Donec non sapien neque.</p>
                        <a class="btn btn-contrast btn-bordered btn-xs" href="http://jednotka.bublinastudio.com/blog_single_post.html">Read more</a>
                      </div>
                    </div>
                    <hr class="hr-half">
                  </div>
                </div>
                <div class="row text-box text-box-title-above">
                  <div class="col-sm-12">
                    <h2 class="title"><a href="http://jednotka.bublinastudio.com/blog_single_post.html">Lorem ipsum dolor sit amet</a></h2>
                    <div class="toolbar">
                      <a class="btn btn-link" href="http://jednotka.bublinastudio.com/blog_small.html#">
                        <i class="fa fa-calendar"></i>
                        <span>May 3, 2013</span>
                      </a>
                      <a class="btn btn-link" href="http://jednotka.bublinastudio.com/blog_small.html#">
                        <i class="fa fa-user"></i>
                        <span>Jane Doe</span>
                      </a>
                      <a class="btn btn-link" href="http://jednotka.bublinastudio.com/blog_small.html#">
                        <i class="fa fa-comments"></i>
                        <span>2 comments</span>
                      </a>
                    </div>
                    <div class="row">
                      <div class="col-sm-3">
                        <a href="http://jednotka.bublinastudio.com/blog_single_post.html">
                          <img class="img-responsive center-block img-rounded-half" alt="Lorem ipsum dolor sit amet" width="189" height="129" src="./blog_files/3(1).jpg">
                        </a>
                      </div>
                      <div class="col-sm-9">
                        <p>Etiam ac consectetur dui, id mollis neque. Phasellus rutrum augue nec convallis bibendum. Etiam vitae aliquam leo, laoreet venenatis massa. Aliquam erat volutpat. Fusce rutrum augue sit amet lobortis tempor. Duis ut malesuada augue, vel fringilla ante. Nullam eu mi vel metus faucibus mollis.</p>
                        <a class="btn btn-contrast btn-bordered btn-xs" href="http://jednotka.bublinastudio.com/blog_single_post.html">Read more</a>
                      </div>
                    </div>
                    <hr class="hr-half">
                  </div>
                </div>
                <div class="row text-box text-box-title-above">
                  <div class="col-sm-12">
                    <h2 class="title"><a href="http://jednotka.bublinastudio.com/blog_single_post.html">Aliquam congue porttitor</a></h2>
                    <div class="toolbar">
                      <a class="btn btn-link" href="http://jednotka.bublinastudio.com/blog_small.html#">
                        <i class="fa fa-calendar"></i>
                        <span>April 1, 2013</span>
                      </a>
                      <a class="btn btn-link" href="http://jednotka.bublinastudio.com/blog_small.html#">
                        <i class="fa fa-user"></i>
                        <span>Josh Doe</span>
                      </a>
                      <a class="btn btn-link" href="http://jednotka.bublinastudio.com/blog_small.html#">
                        <i class="fa fa-comments"></i>
                        <span>72 comments</span>
                      </a>
                    </div>
                    <div class="row">
                      <div class="col-sm-3">
                        <a href="http://jednotka.bublinastudio.com/blog_single_post.html">
                          <img class="img-responsive center-block img-rounded-half" alt="Aliquam congue porttitor" width="189" height="129" src="./blog_files/4(1).jpg">
                        </a>
                      </div>
                      <div class="col-sm-9">
                        <p>Donec ac justo et metus vulputate faucibus. Mauris quis massa vel urna gravida vulputate vitae eu metus. Sed in leo sed metus tempus egestas a ac massa. Nunc cursus urna ac molestie cursus. Donec non sapien neque. Nunc cursus urna ac molestie cursus. Etiam posuere nulla eu lectus porta ullamcorper.</p>
                        <a class="btn btn-contrast btn-bordered btn-xs" href="http://jednotka.bublinastudio.com/blog_single_post.html">Read more</a>
                      </div>
                    </div>
                    <hr class="hr-half">
                  </div>
                </div>
              </div>
              <div class="text-center">
                <ul class="pagination">
                  <li>
                    <a href="http://jednotka.bublinastudio.com/blog_small.html#">
                      <i class="fa fa-angle-left"></i>
                    </a>
                  </li>
                  <li class="active">
                    <a href="http://jednotka.bublinastudio.com/blog_small.html#">1</a>
                  </li>
                  <li>
                    <a href="http://jednotka.bublinastudio.com/blog_small.html#">2</a>
                  </li>
                  <li>
                    <a href="http://jednotka.bublinastudio.com/blog_small.html#">3</a>
                  </li>
                  <li class="disabled">
                    <a href="http://jednotka.bublinastudio.com/blog_small.html#">
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>