<body class="contact-page">
  <div id="wrapper">
    <div id="main" role="main">
      <div id="main-content">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="page-header page-header-with-icon">
                <i class="fa fa-map-marker"></i>
                <h2>
                  公司地址
                </h2>
              </div>
              <div class="map-container">
                <div id="map-canvas" style="position: relative; overflow: hidden; transform: translateZ(0px); background-color: rgb(229, 227, 223);"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="page-header page-header-with-icon">
                <i class="fa fa-info-circle"></i>
                <h2>
                  联系方式
                </h2>
              </div>
              <div class="row text-center">
                <div class="col-sm-3">
                  <div class="icon-wrap icon-circle contrast-bg icon-md">
                    <i class="fa fa-map-marker text-white"></i>
                  </div>
                  <h3>地址</h3>
                  <ul class="list-unstyled">
                    <li>中国上海市徐汇区肇家浜路807号五洲国际大厦20C</li>
                  </ul>
                </div>
                <div class="col-sm-3">
                  <div class="icon-wrap icon-circle contrast-bg icon-md">
                    <i class="fa fa-phone text-white"></i>
                  </div>
                  <h3>电话</h3>
                  <ul class="list-unstyled">
                    <li><a href="tel:+8602164186057">+86 21 6418 6057</a></li>
                    <li><a href="tel:+8613524807656">+86 135 2480 7656</a></li>
                    <li>张寅雪先生</li>
                  </ul>
                </div>
                <div class="col-sm-3">
                  <div class="icon-wrap icon-circle contrast-bg icon-md">
                    <i class="fa fa-envelope-o text-white"></i>
                  </div>
                  <h3>电子邮件</h3>
                  <ul class="list-unstyled">
                    <li><a href="mailto:iven.zhang@yohub.com.cn">iven.zhang@yohub.com.cn</a></li>
                  </ul>
                </div>
                <div class="col-sm-3">
                  <div class="icon-wrap icon-circle contrast-bg icon-md">
                    <i class="fa fa-clock-o text-white"></i>
                  </div>
                  <h3>办公时间</h3>
                  <ul class="list-unstyled">
                    <li>
                      (BJ Time) Mon - Fri : 9:00am - 6:00pm
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
              <div class="page-header page-header-with-icon">
                <i class="fa fa-envelope"></i>
                <h2>填写客户业务咨询问卷表单</h2>
              </div>
              <div class="col-sm-12">
                <button class="btn btn-contrast btn-block form-contact-submit" data-toggle="modal" data-target="#contact_form_modal">
                  联系
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
  <script src="/theme/assets/js/map.js"></script>
</body>