<div id="contact-us" <%if (typeof simple=='undefined' || name=='contact_form'){%>class="hide"<%}%> data-toggle="modal" data-target="#contact_form_modal">
  CONTACT
  <i class="fa fa-comment"></i>
</div>

<!-- Modal -->
<div <%if (typeof simple=='undefined'){%>class="modal fade"<%}%> id="contact_form_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Business Consulting Questionnaire</h4>
      </div>
      <div class="modal-body">
        <iframe name="contact_hidden_frame" frameborder="0" style="display: none;"></iframe>
        <form id="contact_form" class="form form-validation" method="post" action="/submit_form" target="contact_hidden_frame">
          <div class="row">
            <div class="col-sm-12">
              <div class="alert alert-success form-contact-success hidden">Thanks! Your message has been successfully sent!</div>
              <div class="alert alert-danger form-contact-error hidden">Ooops! There was an error sending your message.</div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group control-group">
                <input class="form-control" name="corp" placeholder="Company" type="text">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group control-group">
                <input class="form-control" name="name" placeholder="Contacts" type="text">
              </div>
            </div>
              <div class="col-sm-4">
                <div class="form-group control-group">
                  <input class="form-control" name="mobile" placeholder="Mobile">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group control-group">
                  <input class="form-control" name="tel" placeholder="Direct Line">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group control-group">
                  <input class="form-control" name="email" placeholder="E-mail" type="email">
                </div>
              </div>
            <div class="col-sm-8">
              <div class="form-group control-group">
                <input class="form-control" name="place" placeholder="Service Location">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group control-group">
                <input class="form-control" name="industry" placeholder="Occupancy">
              </div>
            </div>
            <div class="col-sm-12">
              <label class="col-md-2 control-label">Service Time</label>
              <div class="col-sm-4">
                <input class="form-control date start" name="start" placeholder="From" type="text">
              </div>
              <div class="col-sm-4">
                <input class="form-control date end" name="end" placeholder="To" type="text">
              </div>
            </div>
            <div class="col-sm-12" style="margin-top:10px;">
              <div class="form-group control-group">
                <label class="col-md-2 control-label">Expert Type</label>
                <div class="col-md-10">
                  <label class="checkbox-inline">
                    <input name="level" type="checkbox" value="teji">
                    Senior Consultant & Senior Risk Engineers
                  </label>
                  <label class="checkbox-inline">
                    <input name="level" type="checkbox" value="gaoji">
                    Consultant & Risk Engineer
                  </label>
                  <label class="checkbox-inline">
                    <input name="level" type="checkbox" value="fengxian">
                    Assistant Consultant & Assistant Risk Engineer
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group control-group">
                <textarea class="form-control" name="desc" placeholder="Others"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="contact_form_submit" type="button" class="btn btn-contrast">Submit</button>
      </div>
    </div>
  </div>
</div>
