<body class="service-page">
  <div id="wrapper">
    <div id="main">
      <div id="main-content">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="text-boxes">
                <div class="row text-box animated fadeInRight">
                  <div class="col-sm-6">
                    <img class="img-responsive center-block" alt="Combine IQ and EQ, Theory and Practice" width="340"
                                             height="188" src="http://i2.tietuku.com/a452462e4b3a4639.jpg">
                                             <!--height="188" src="/theme/assets/images/panel_bg_hat.jpg">/-->
                  </div>
                  <div class="col-sm-6">
                    <h3 class="title"><strong>Combine IQ and EQ, Theory and Practice</strong></h3>
                    <p class="panel-desc">Technical strength is a highly reliable factor; meanwhile, seamless interpersonal communication is a powerful drive. This has been reflected in our recruit process.</p>
                    <p class="panel-desc">Yohub promise that all consulting fees will be refunded once we verify that any of our experts would be complained due to incapability of cooperating with clients.</p>
                  </div>
                </div>
                <hr/>
                <div class="row text-box animated fadeInLeft">
                  <div class="col-sm-6 col-sm-push-6"><img class="img-responsive center-block" alt="Flexible Quotation"
                                                           width="330" height="183"
                                                           src="http://i2.tietuku.com/4f8dafaeeaef64c9.jpg"></div>
                                                           <!--src="/theme/assets/images/panel_bg_chess.jpg"></div>-->
                  <div class="col-sm-6 col-sm-pull-6">
                    <h3 class="title"><strong>Flexible Quotation</strong></h3>
                    <p class="panel-desc">Yohub consultant team consist three levels: executive, senior and principal. We offer service as individual request, in English or/and Chinese, and a panel of experts assistance if necessary or requested. Furthermore, for the relative report and lecture notes, the submission of them, it depends. The quotation is applied in terms of real scenarios, current situation and customer budget.</p>
                    <p class="panel-desc">For the long-term service, as an example, if there is at least one employer training each year, client company may consider Yohub annual quantitative service package or pre-pay the annual full-charge with discount. (Kindly note that unused credits can be accumulated into next year)</p>
                  </div>
                </div>
                <hr/>
                <div class="row text-box animated fadeInRight">
                  <div class="col-sm-6"><img class="img-responsive center-block" alt="Perfect Attitude and High Quality Service" width="340"
                                             height="188" src="http://i2.tietuku.com/c4d2fd6f7143a936.jpg"></div>
                                             <!--height="188" src="/theme/assets/images/panel_bg_compass.jpg"></div>-->
                  <div class="col-sm-6">
                    <h3 class="title"><strong>Perfect Attitude and High Quality Service</strong></h3>
                    <p class="panel-desc">Newly established, Yohub believes in the significance in the attitude to constantly offer excellent services in risk management. Members of Yohub team, all grow from extensive experiences. We are willing to passionately continue on the path of risk management, we wish to accompany, work cohesively and constantly with our clients facing difficulties and challenges, instead of providing one-time service only.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>