<body class="homepage fullsize <%if (typeof direct!=='undefined'&&direct==true){%>use-direct<%}%>">
  <%if (typeof direct=='undefined'){%>
  <div id="welcome_wrapper" class="welcome-bg">
    <div class="cover-container">
      <p class="welcome-title fadeInLeft animated">
        <img src="/theme/assets/images/yohub_1024.png" alt="御虎企业管理咨询（上海）有限公司"/>
        <!--<span class="corp-name">御虎企业管理咨询（上海）有限公司</span>-->
      </p>
      <!--<p class="welcome-desc"></p>-->
      <div class="welcome-enter">
        <a id="welcome_enter" class="fadeInRight animated" href="/home">进入 <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
  </div>
  <%}%>
  <div id="wrapper">
    <div id="main" role="main">
      <div class="hero-carousel carousel-contrast carousel-contrast-arrows carousel-contrast-pagination flexslider fade-loading" id="carousel-example-2">
        <ul class="slides">
          <li class="item forest" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
            <div class="container">
              <div class="row">
                <div class="col-lg-12 animate">
                  <h1 class="big fadeInUp animate">
                    <span>繁华背后的安全隐患，你是否看到？</span>
                  </h1>
                  <!--<p class="normal fadeInUp animate">-->
                    <!--<span>Proin facilisis aliquam nunc quis varius.</span>-->
                  <!--</p>-->
                  <!--<p class="fadeInRight animate">-->
                    <!--<a class="btn btn-squared btn-contrast btn-lg" href="http://jednotka.bublinastudio.com/index2.html#">-->
                      <!--Show more-->
                    <!--</a>-->
                  <!--</p>-->
                </div>
              </div>
            </div>
          </li>
          <li class="item sea">
            <div class="container">
              <div class="row">
                <div class="col-lg-12 animate">
                  <h2 class="big fadeInUp animated">
                    <span class="animated">预见它还是遇见它？</span>
                  </h2>
                  <!--<p class="normal fadeInRightBig animated">-->
                    <!--<span class="animated">Sed felis ligula, eleifend at neque eget.</span>-->
                  <!--</p>-->
                  <!--<p class="fadeInRightBig animated">-->
                    <!--<a class="btn btn-squared btn-contrast btn-lg animated" href="http://jednotka.bublinastudio.com/index2.html#">-->
                      <!--Show more-->
                    <!--</a>-->
                  <!--</p>-->
                </div>
              </div>
            </div>
          </li>
          <li class="item bokeh">
            <div class="container">
              <div class="row">
                <div class="col-lg-12 animate">
                  <h2 class="big fadeInUp animated">
                    <span class="animated">在我们眼里它不是一件合格的工程作品</span>
                  </h2>
                  <!--<p class="normal fadeInLeftBig animated">-->
                    <!--<span class="animated">Nam nec tellus molestie, sollicitudin.</span>-->
                  <!--</p>-->
                  <!--<p class="fadeInUpBig animated">-->
                    <!--<a class="btn btn-squared btn-contrast btn-lg animated" href="index.html">Show more</a>-->
                  <!--</p>-->
                </div>
              </div>
            </div>
          </li>
        </ul>
        <ul class="flex-direction-nav">
          <li><a class="flex-prev" href="#"></a></li>
          <li><a class="flex-next" href="#"></a></li>
        </ul>
      </div>
      <div id="main-content">
        <div class="container">
          <div class="row">
            <div class="page-header page-header-with-icon no-mg-t">
              <i class="fa fa-tag"></i>
              <h2><strong>公司简介</strong></h2>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p class="lead lead-xs">御虎企业管理咨询（上海）有限公司成立于2014年6月，其设立宗旨在于为广大客户提供专业、便捷、合理、可操作性强的风险管理及咨询服务。</p>
              <p class="lead lead-xs">御虎咨询依据严格的筛选标准，配备强大、高效的特聘顾问团队，拥有建筑、化工、钢铁、电子、消防等行业的资深风险管理专家数十名，多数在各自行业拥有30年以上工作经验。</p>
              <p class="lead lead-xs">御虎咨询立足上海、放眼世界，具备出具中文及英文风险管理和咨询报告的实力，并采取相对灵活、有竞争力的定价策略，同时严格保证服务质量和效率。</p>
              <p class="lead lead-xs">御虎希望同各界同仁一起推进中国的风险管理事业，共同发掘其潜在社会价值，为促进全社会提升风险控制意识、减少事故发生频率、降低各类灾害损失做出应有贡献。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>