<body class="homepage fullsize <%if (typeof direct!=='undefined'&&direct==true){%>use-direct<%}else{%>use-welcome<%}%>">
  <%if (typeof direct=='undefined'){%>
  <div id="welcome_wrapper" class="welcome-bg">
    <div class="cover-container">
      <div class="welcome-title fadeInLeft animated">
        <img src="http://i2.tietuku.com/bfe856b884a770f7.png" alt="yohub-logo"/><br/>
        <!--<img src="/theme/assets/images/logo_120.png" alt="yohub-logo"/><br/>-->
        <img src="http://i2.tietuku.com/bb02c8abe25add51.png" alt="御虎企业管理咨询（上海）有限公司" class="logo"/>
        <!--<img src="/theme/assets/images/yohub_400.png" alt="御虎企业管理咨询（上海）有限公司" class="logo"/>-->
        <!--<span class="corp-name">御虎企业管理咨询（上海）有限公司</span>-->
      </div>
      <!--<p class="welcome-desc"></p>-->
      <div class="welcome-enter">
        <a class="fadeInRight animated" href="/home"><button class="btn btn-contrast">中文 <i class="fa fa-arrow-circle-right"></i></button></a>
        <br/>
        <br/>
        <a class="fadeInRight animated" href="/home_en"><button class="btn btn-contrast">English <i class="fa fa-arrow-circle-right"></i></button></a>
      </div>
    </div>
  </div>
  <%}%>
  <div id="wrapper">
    <div id="main" role="main">
      <div class="hero-carousel carousel-contrast carousel-contrast-arrows carousel-contrast-pagination flexslider fade-loading" id="carousel-example-2">
        <ul class="slides">
          <li class="item the1">
            <div class="container">
              <div class="row">
                <div class="col-lg-12 animate">
                  <h2 class="big fadeInUp animated">
                    <span class="animated">Maybe it's NOT a qualified building.</span>
                  </h2>
                </div>
              </div>
            </div>
          </li>
          <li class="item the2" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
            <div class="container">
              <div class="row">
                <div class="col-lg-12 animate">
                  <h1 class="big fadeInUp animate">
                    <span>Is there any hazard behind the prosperous?</span>
                  </h1>
                  <!--<p class="normal fadeInUp animate">-->
                    <!--<span>Proin facilisis aliquam nunc quis varius.</span>-->
                  <!--</p>-->
                  <!--<p class="fadeInRight animate">-->
                    <!--<a class="btn btn-squared btn-contrast btn-lg" href="http://jednotka.bublinastudio.com/index2.html#">-->
                      <!--Show more-->
                    <!--</a>-->
                  <!--</p>-->
                </div>
              </div>
            </div>
          </li>
          <li class="item the3">
            <div class="container">
              <div class="row">
                <div class="col-lg-12 animate">
                  <h2 class="big fadeInUp animated">
                    <span class="animated">Risk matters if you can't identify the risk.</span>
                  </h2>
                </div>
              </div>
            </div>
          </li>
          <li class="item the4">
            <div class="container">
              <div class="row">
                <div class="col-lg-12 animate">
                  <h2 class="big fadeInUp animated">
                    <span class="animated">Foresee it or encounter it?</span>
                  </h2>
                </div>
              </div>
            </div>
          </li>
          <li class="item the5">
            <div class="container">
              <div class="row">
                <div class="col-lg-12 animate">
                  <h2 class="big fadeInUp animated">
                    <span class="animated">Let's create a safer world. </span>
                  </h2>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <ul class="flex-direction-nav">
          <li><a class="flex-prev" href="#"></a></li>
          <li><a class="flex-next" href="#"></a></li>
        </ul>
      </div>
      <div id="main-content">
        <div class="container">
          <div class="row">
            <div class="page-header page-header-with-icon no-mg-t">
              <i class="fa fa-tag"></i>
              <h2><strong>ABOUT US</strong></h2>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p class="lead lead-xs">Yohub Management Consulting (Shanghai) Co., LTD, was established in June 2014, aiming to provide convenient, efficient, reasonable and professional risk management and advisory services.</p>
              <p class="lead lead-xs">Equipped with a distinguished and efficient consultant team, Yohub basis its engagements on a strict selection criteria. Yohub's consultants include industry professionals from the construction, chemical, steel, electronics and fire protection industries, along with other experts in the fields of risk management.  Most of our consultants have more than 30 years of experience in their respective industries.</p>
              <p class="lead lead-xs">With global vision, Yohub has the multilingual ability for risk management and dealing with consulting reports. We take a flexible, competitive pricing strategy and guarantee to provide high quality service.</p>
              <p class="lead lead-xs">Yohub hopes, together with colleagues, to propel the China risk management forward, and explore its potential social value; and makes a contribution to promote social awareness of risk control, to reduce accident frequency and all kinds of catastrophe losses.</p>
              <p class="lead lead-xs">Our target clients at this current stage are insurance, reinsurance companies and insurance brokers. The companies goal is to provide risk management outsourcing. In the future the client base will extend to all companies or local government agencies who have risk management needs.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>