<body class="service-page">
<div id="wrapper">
  <div id="main" role="main">
    <div id="main-content">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <!--<div class="page-header page-header-with-icon">-->
              <!--<i class="fa fa-cloud"></i>-->
              <!--<h2><strong>主营业务</strong></h2>-->
            <!--</div>-->
            <div class="icon-boxes icon-boxes-lg">
              <div class="row">
                <div class="col-sm-6 icon-box">
                  <div class="icon icon-wrap icon-circle icon-lg contrast-bg">
                    <i class="fa fa-search text-white"></i>
                  </div>
                  <div class="content animated fadeInRight">
                    <h3 class="title"><strong>Risk Assessment</strong></h3>
                    <p class="home-desc">For targets from a variety of industries, Yohub can provide a whole process risk analysis, assess the probability of contingency incidents, caused by but not limited to human behavior, accidents, natural catastrophe and/or force majeure. Along with the extent of severity we then will estimate the maximum possible losses from financial point of view.</p>
                    <p class="home-desc">Furthermore, we provide tailored risk management programs, which could cover versions industries including energy, electricity, chemical engineering, infrastructure, civil engineering, costume, automobile, manufacture and fast moving consumer goods.</p>
                    <p class="home-desc">A tailored risk management outsourcing service is highly suited for the insurance, reinsurance, and insurance brokers, who are looking for a more efficient and reliable supplier to offer value-added service to their clients.</p>
                    <a href="javascript:;" class="show-detail">MORE <i class="fa fa-arrow-circle-down"></i></a>
                    <table class="table table-striped animated fadeInLeft hide">
                      <thead>
                      <th width="80%">
                        <i class="fa fa-ellipsis-h text-contrast"></i>
                        CONTENT
                      </th>
                      </thead>
                      <tr>
                        <td>
                          Type A: 	For underwriting purpose (include EML, PML&MFL evaluation). <br/>
                          Type B: 	Risk assessment for original insured (including risk manage recommendations). <br/>
                          Type C: 	To provide comprehensive and technical description of insured subject (mainly for insurance bidding purpose). <br/>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="col-sm-6 icon-box">
                  <div class="icon icon-wrap icon-circle icon-lg contrast-bg">
                    <i class="fa fa-wrench text-white"></i>
                  </div>
                  <div class="content animated fadeInRight">
                    <h3 class="title"><strong>Risk Management</strong></h3>
                    <p class="home-desc">Yohub has a highly professional consultant team, of which advisers have decades of industry experience. According to the actual environment, consultants can provide highly targeted and operable risk management approaches and one-off solutions. </p>
                    <p class="home-desc">Benefited from our highly skilled professionals, Yohub can provide one-stop standard service as well as a personalized butler service to all clients. </p>
                    <a href="javascript:;" class="show-detail">MORE <i class="fa fa-arrow-circle-down"></i></a>
                    <table class="table table-striped animated fadeInLeft hide">
                      <thead>
                      <th width="80%">
                        <i class="fa fa-ellipsis-h text-contrast"></i>
                        CONTENT
                      </th>
                      </thead>
                      <tr>
                        <td>
                          Type A:	Annual or semi-annual risk management to construction risks of which the duration is over two years. <br/>
                          Type B:	Annual routine risk management to operation risks which is to be renewed. <br/>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 icon-box">
                  <div class="icon icon-wrap icon-circle icon-lg contrast-bg">
                    <i class="fa fa-slideshare text-white"></i>
                  </div>
                  <div class="content animated fadeInLeft">
                    <h3 class="title"><strong>Training</strong></h3>
                    <p class="home-desc">We offer client-tailored training programs and seminars on risk management, based on many practical examples. Clients, who would like to attend, are to be strengthened in the awareness and understanding of the risk management over all discussed industries.</p>
                    <p class="home-desc">Internal training programs include safety management training as the orientation, and specific industrial knowledge for junior and senior underwriters and claim adjusters; also, tailored courses and risk management forums are customized for fellow professionals.</p>
                    <a href="javascript:;" class="show-detail">MORE <i class="fa fa-arrow-circle-down"></i></a>
                    <table class="table table-striped animated fadeInLeft hide">
                      <thead>
                      <th width="80%">
                        <i class="fa fa-ellipsis-h text-contrast"></i>
                        CONTENT
                      </th>
                      </thead>
                      <tr>
                        <td>
                          Type A:	Training for underwriters, claim handlers, to present the latest development of various industries, macroscopic loss probability and typical loss scenarios.<br/>
                          Type B:	Training for staff of original insured, to present HSE related knowledge and industry best practice, as well as the tactics to reduce attritional losses.<br/>
                          Type C: Training for junior insurance brokers, interpreting worldwide main terms and industry benchmark practice.<br/>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="col-sm-6 icon-box">
                  <div class="icon icon-wrap icon-circle icon-lg contrast-bg">
                    <i class="fa fa-shield text-white"></i>
                  </div>
                  <div class="content animated fadeInLeft">
                    <h3 class="title"><strong>Contingency plan for large scale public activities</strong></h3>
                    <p class="home-desc">Excessive considerations for accidental incidences, human traffic management and emergency management need to be accounted in, particularly for planning large scale public activities.</p>
                    <p class="home-desc">Yohub believes that our expertise on risk management is better to assist clients on the risk evaluation, management and every detail control, further, to minimize the possibility of accidental incidences, as well as the losses.</p>
                    <p class="home-desc">Moreover, Yohub offer non-financial risk management services for various oversea investment projects.</p>
                    <p class="home-desc">(Kindly note that the security services are not included in)</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="display: none;">
          <div class="col-sm-12">
            <div class="page-header page-header-with-icon">
              <i class="fa fa fa-star"></i>
              <!--<h2></h2>-->
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>
                        <i class="fa fa-th text-contrast"></i>
                        业务类型
                      </th>
                      <th width="80%">
                        <i class="fa fa-ellipsis-h text-contrast"></i>
                        具体内容
                      </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="  ">
                      <td>风险查勘与评估</td>
                      <td>
                        -	A类查勘报告，针对核保、再保需求，含EML、PML、MFL评估 <br/>
                        -	B类查勘报告，针对被保险人需求，含风险管理和改善建议 <br/>
                        -	C类查勘报告，针对经纪人招标需求，使用保险业特有语言对被保险标的进行精准描述 <br/>
                      </td>
                    </tr>
                    <tr class="  ">
                      <td>跟踪式风险管理</td>
                      <td>
                        -	A 类风险管理，针对保险期限超过两年的工程险标的实行年度或双季度跟踪式风险管理 <br/>
                        -	B类风险管理，针对可续保业务进行年度跟踪式风险管理 <br/>
                        -	留存风险管理和整改记录、提供具有连贯性的风险管控意见和信息 <br/>
                      </td>
                    </tr>
                    <tr class="  ">
                      <td>培训讲座</td>
                      <td>
                        -	A类讲座，针对保险公司核保理赔人员、讲授各行业最新技术发展、宏观损率及典型案例 <br/>
                        -	B类讲座，针对被保险人，进行各类入职安全培训，讲解典型事故案例和防灾防损措施 <br/>
                        -	C类讲座，针对保险经纪人，进行各类入职人员培训，讲解世界范围内主要条款及行业惯例 <br/>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>