<body>
<div id="wrapper">
  <div id="main" role="main">
    <div id="main-content">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <!--<div class="page-header page-header-with-icon">-->
              <!--<i class="fa fa-cloud"></i>-->
              <!--<h2><strong>主营业务</strong></h2>-->
            <!--</div>-->
            <div class="icon-boxes icon-boxes-lg">
              <div class="row">
                <div class="col-sm-6 icon-box">
                  <div class="icon icon-wrap icon-circle icon-lg contrast-bg">
                    <i class="fa fa-search text-white"></i>
                  </div>
                  <div class="content">
                    <h3 class="title"><strong>风险查勘及评价</strong></h3>
                    <p class="home-desc">可针对不同行业各类标的进行全方位、全过程的风险分析，对各类人为、意外、自然灾害及不可抗力的发生概率和损失程度进行评价，估算最大可能损失、以及所造成的财务影响。</p>
                    <p class="home-desc">我司可以直接为各类企业量身定做该项服务，范围涵盖能源、电力、化工、基建、工民建、市政工程、纺织、服装、汽车、电子、制造业、快速消费品等行业。</p>
                    <p class="home-desc">该服务也可以提供给国内外各大财产保险、再保险公司、保险经纪公司，协助保险界为被保险人提供更加全面、有效、提升附加值的服务。</p>
                  </div>
                </div>
                <div class="col-sm-6 icon-box">
                  <div class="icon icon-wrap icon-circle icon-lg contrast-bg">
                    <i class="fa fa-wrench text-white"></i>
                  </div>
                  <div class="content">
                    <h3 class="title"><strong>风险管理</strong></h3>
                    <p class="home-desc">我司特聘顾问均具有数十年行业安全管理经验，能够依据实际风险状况为客户提出具有高度针对性和可操作性的风险管理建议，并提供一步到位的解决方案。</p>
                    <p class="home-desc">特有的专业性和灵活性，以及对风险管理相关资源的统筹协调能力，使得我们不仅仅停留在发现问题、分析问题的层面，而是以一站式管家服务帮助客户解决问题。</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 icon-box">
                  <div class="icon icon-wrap icon-circle icon-lg contrast-bg">
                    <i class="fa fa-slideshare text-white"></i>
                  </div>
                  <div class="content">
                    <h3 class="title"><strong>培训讲座</strong></h3>
                    <p class="home-desc">我司有幸邀请了诸多各行业具有多年工作经验的专家作为我们的特聘顾问，因此能够结合各类实际案例向广大客户提供内容丰富、针对性强的各类风险管理培训、讲座，可有效提高被培训对象对行业风险的认知程度。此外，我司的特聘顾问也有意愿担任风险管理论坛主讲嘉宾。</p>
                    <p class="home-desc">具体培训形式主要包括各类企业入职员工安全管理培训和交流、保险公司初级、中级核保人员行业知识培训，以及针对客户高管层面而特别安排的各类风险管理论坛。</p>
                  </div>
                </div>
                <div class="col-sm-6 icon-box">
                  <div class="icon icon-wrap icon-circle icon-lg contrast-bg">
                    <i class="fa fa-shield text-white"></i>
                  </div>
                  <div class="content">
                    <h3 class="title"><strong>大型活动风险管理专案策划及提供解决方案</strong></h3>
                    <p class="home-desc">大型活动往往需要考虑和应对各类突发事件，人流管理、应急管理、防控意外等问题必须列入考虑范围。（安保服务不列入本公司业务范围）</p>
                    <p class="home-desc">我司集合众多风险管理方面的专家，可以协助大型活动组织者进行全方位、多角度的风险预估、评判和管理，最大限度减低大型活动发生意外的概率和损失程度。我司还提供各类海外投资项目非财务风险的管理。</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="page-header page-header-with-icon">
              <i class="fa fa fa-star"></i>
              <!--<h2></h2>-->
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>
                        <i class="fa fa-th text-contrast"></i>
                        业务类型
                      </th>
                      <th width="80%">
                        <i class="fa fa-ellipsis-h text-contrast"></i>
                        具体内容
                      </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="  ">
                      <td>风险查勘与评估</td>
                      <td>
                        -	A类查勘报告，针对核保、再保需求，含EML、PML、MFL评估 <br/>
                        -	B类查勘报告，针对被保险人需求，含风险管理和改善建议 <br/>
                        -	C类查勘报告，针对经纪人招标需求，使用保险业特有语言对被保险标的进行精准描述 <br/>
                      </td>
                    </tr>
                    <tr class="  ">
                      <td>跟踪式风险管理</td>
                      <td>
                        -	A 类风险管理，针对保险期限超过两年的工程险标的实行年度或双季度跟踪式风险管理 <br/>
                        -	B类风险管理，针对可续保业务进行年度跟踪式风险管理 <br/>
                        -	留存风险管理和整改记录、提供具有连贯性的风险管控意见和信息 <br/>
                      </td>
                    </tr>
                    <tr class="  ">
                      <td>培训讲座</td>
                      <td>
                        -	A类讲座，针对保险公司核保理赔人员、讲授各行业最新技术发展、宏观损率及典型案例 <br/>
                        -	B类讲座，针对被保险人，进行各类入职安全培训，讲解典型事故案例和防灾防损措施 <br/>
                        -	C类讲座，针对保险经纪人，进行各类入职人员培训，讲解世界范围内主要条款及行业惯例 <br/>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>